.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#Dhoni {
  height: 65%;
}

span {


  background: linear-gradient(to right, rgb(34 , 221, 3231) , rgb(237, 4, 125));
  font-size: 2vmax;
  margin-top: 20px;
  background-clip: text;
  color: transparent;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(34, 221, 231);
  color: black;
  font-size: 1.5vmax;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 4px 100px rgb(34, 221, 231);
}